# Default values for the operator.
# This is a YAML-formatted file.
# Declare variables that will be passed into your templates.

image:
  repository: ghcr.io/shopware/fastly-operator
  # if not set appVersion field from Chart.yaml is used
  tag: ""
  pullPolicy: IfNotPresent

## Custom resource configuration
crds:
  # Install and upgrade CRDs
  install: true
  # This will install only the crd's
  installOnly: false

# rbac: settings for deployer RBAC creation
rbac:
  # rbac.create: if false, RBAC resources should be in place
  create: true

# serviceAccount: settings for Service Accounts used by the deployer
serviceAccount:
  # serviceAccount.create: Whether to create the Service Accounts or not
  create: true

# Enable event publishing when the fastly status resource is updated. This
# is useful if you want to add external applications which will wait until the
# resources are ready. The json structure is in /internal/event/event.go
# Currently we only support Nats for internal usage, If you want a different
# publish message system let us know with an issue or pull request.
# events:
#   nats:
#     nkeyRef:
#       name: "nats-nkey" # secret name
#       key: "nkey" # file
#     enable: true
#     credentialsRef:
#       name: "nats-credentials" # secret name
#       key: "creds" # file
#     address: nats://nats.nats-namespace.svc.cluster.local # Default: nats://localhost:4222
#     topic: "fastly-events"

resources:
  limits:
    cpu: 500m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 128Mi

tolerations: []
# affinity:
#   nodeAffinity:
#     requiredDuringSchedulingIgnoredDuringExecution:
#       nodeSelectorTerms:
#       - matchExpressions:
#         - key: kubernetes.io/arch
#           operator: In
#           values:
#           - amd64
#           - arm64
#         - key: kubernetes.io/os
#           operator: In
#           values:
#           - linux

labels: {}
podAnnotations: {}

fastlyApiSecretRef:
  name: "fastly-api-key"
  key: "key"

# To generate FastlyTokens we need a username and a password from a user which has a userToken and has
# no active SSO login. Set the token via fastlyApiSecretRef and add your username/email and the password.
# This is not required, if you don't want to use the token crd, just leave this empty
fastlyTokenControler:
  enable: false
  # userSecretRef:
  #   name: "fastly-user-secret"
  #   userKey: "username"
  #   passwordKey: "password"

fastlyLogging:
  datadog:
    enable: false
    # apiKeySecretRef:
    #   name: "datadog"
    #   key: "api-key"
    # region: "EU"
    # formatVersion: 2
    # # Comma separated list of tags, e.g. "tag1:value,tag2:value"
    # tags: ""

# Per default we watch on ingress and config-map
# sources:
#   - ingress
#   - config-map
#   - istio-gateway
#   - istio-virtualservice

# Supported levels: debug, info, warn, error, dpanic, panic, fatal
logLevel: info
# Supported formats: json, text, zap-pretty
# Use zap-pretty for the makefile run command, as it will be properly formatted
logFormat: json
# Array of extra K8s manifests to deploy
# extraObjects:
#   - apiVersion: v1
#     kind: Secret
#     metadata:
#       name: fastly-api-key
#     stringData:
#       key: foo
