{{- if hasKey .Values.store "sidecarLogging" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-fluent-bit
  namespace: {{ .Release.Namespace }}
  labels:
    app: fluent-bit
data:
  custom_parsers.conf: |
    [PARSER]
        Name shopware
        Format json
        Time_Key ts
        Time_Format %s
  fluent-bit.conf:  |
    {{- include "fluentBitConfigmap" . | nindent 4 }}
{{- end }}