{{ if hasKey .Values "percona" }}
{{ if .Values.percona.enabled | default false }}
apiVersion: pxc.percona.com/v1
kind: PerconaXtraDBCluster
metadata:
  name: {{ .Release.Name | quote }}
  namespace: '{{ .Release.Namespace }}'
spec:
  secretsName: {{ template "getPerconaSecrets" . }}
  crVersion: {{ .Values.percona.version | quote }}
  allowUnsafeConfigurations: {{ .Values.percona.allowUnsafeConfigurations | default false }}
  initImage: "percona/percona-xtradb-cluster-operator:{{ .Values.percona.version }}"
  pxc:
    size: {{ .Values.percona.database.size | default 1 }}
    image: percona/percona-xtradb-cluster:{{ .Values.percona.database.version | default "8.0" }}
    autoRecovery: true
    topologySpreadConstraints:
      {{- with .Values.percona.database.topologySpreadConstraints }}
          {{- toYaml . | nindent 6 }}
      {{- end }}
    affinity:
      {{- with .Values.percona.database.affinity }}
          {{- toYaml . | nindent 6 }}
      {{- end }}
    nodeSelector:
      {{- with .Values.percona.database.nodeSelector }}
          {{- toYaml . | nindent 6 }}
      {{- end }}
    annotations:
      {{- with .Values.percona.database.annotations }}
          {{- toYaml . | nindent 6 }}
      {{- end }}
    serviceAnnotations:
      {{- with .Values.percona.database.serviceAnnotations }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
    resources:
      {{- with .Values.percona.database.resources }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
    volumeSpec:
      persistentVolumeClaim:
        storageClassName: {{ .Values.percona.database.storageClassName | default "" }}
        resources:
          requests:
            storage: {{ .Values.percona.database.storageSize | default "8Gi" | quote }}
    gracePeriod: 600

    # https://developer.shopware.com/docs/guides/hosting/performance/performance-tweaks.html
    configuration: |
      [mysqld]
      group_concat_max_len=320000
      sql_mode=''

  proxysql:
    enabled: {{ .Values.percona.proxy.enabled | default false }}
    image: percona/percona-xtradb-cluster-operator:{{ .Values.percona.version }}-proxysql
    size: {{ .Values.percona.proxy.size | default 1 }}
    topologySpreadConstraints:
      {{- with .Values.percona.proxy.topologySpreadConstraints }}
          {{- toYaml . | nindent 6 }}
      {{- end }}
    affinity:
      {{- with .Values.percona.proxy.affinity }}
          {{- toYaml . | nindent 6 }}
      {{- end }}
    nodeSelector:
      {{- with .Values.percona.proxy.nodeSelector }}
          {{- toYaml . | nindent 6 }}
      {{- end }}
    annotations:
      {{- with .Values.percona.proxy.annotations }}
          {{- toYaml . | nindent 6 }}
      {{- end }}
    serviceAnnotations:
      {{- with .Values.percona.proxy.serviceAnnotations }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
    resources:
      {{- with .Values.percona.proxy.resources }}
        {{- toYaml . | nindent 6 }}
      {{- end }}
    
    volumeSpec:
      persistentVolumeClaim:
        storageClassName: {{ .Values.percona.proxy.storageClassName | default "" | quote}}
        resources:
          requests:
            storage: {{ .Values.percona.proxy.storageSize | default "10G" | quote }}
{{ end }}
{{ end }}
