{{ if hasKey .Values "regcred" }}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: regcred
  namespace: '{{ .Release.Namespace }}'
spec:
  secretStoreRef:
    name: {{ .Values.regcred.clusterStore.name }}
    kind: ClusterSecretStore
  target:
    template:
      type: kubernetes.io/dockerconfigjson
      data:
        .dockerconfigjson: "{{ "{{" }} .regcred | toString {{ "}}" }}"
    name: regcred
  data:
    - secretKey: regcred
      remoteRef:
        key: {{ .Values.regcred.aws.name }}
{{ end }}
