apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "getCaddyConfigName" . }}
data:
  Caddyfile: |
    :8000
{{- if hasKey .Values.store "sidecarLogging" }}
    log {
      output stdout
      format json

      output file {{ include "caddyLogPath" . }} {
        format json
        roll_size 10MB
        roll_keep 5
        roll_keep_for 24h
      }
    }
{{ else }}
    log
{{- end }}
    route {
      tracing {
        span caddy
      }
      header {
       X-Trace-Id {http.vars.trace_id}
      }
      request_header X-Trace-Id {http.vars.trace_id}
      @default {
        not path /theme/* /media/* /thumbnail/* /bundles/* /sitemap/*
      }
      root * /var/www/html/public
      php_fastcgi @default unix//tmp/php-fpm.sock {
        trusted_proxies private_ranges
        read_timeout 30s
        write_timeout 30s
      }
      encode gzip
      file_server
    }
