{{ if hasKey .Values "minio" }}
{{ if .Values.minio.enabled | default false }}
{{ if .Values.minio.publishPublicBucket | default false }}
# The following job spawns a MinIO CLI container and waits until the bucket is available,
# then it changes the download policy to download of the shopware-public bucket
{{ if and (.Values.minio.useTLS) (.Values.useIstio) }}

{{ end }}
apiVersion: batch/v1
kind: Job
metadata:
  name: minio-cli-change-policy
spec:
    template:
      spec:
        containers:
        - name: minio-cli
          # Use own image here because curl is not available, and it needs to finish the Istio sidecar with:
          # curl -fsI -X POST http://localhost:15020/quitquitquit
          image: minio/mc
          command: ["sh", "-c"]
          args:
          - |
            {{- if .Values.minio.useTLS }}
            while ! mc alias set --insecure minio https://minio.{{ .Release.Namespace }}.svc.cluster.local $MINIO_ACCESS_KEY $MINIO_SECRET_KEY; do
            {{- else }}
            while ! mc alias set --insecure minio http://minio.{{ .Release.Namespace }}.svc.cluster.local $MINIO_ACCESS_KEY $MINIO_SECRET_KEY; do
            {{- end }}
              sleep 4;
            done
            mc anonymous set download minio/shopware-public
            {{- if .Values.useIstio }}
            curl -fsI -X POST http://localhost:15020/quitquitquit
            {{- end }}
          env:
          - name: MINIO_ACCESS_KEY
            valueFrom:
              secretKeyRef:
                name: {{ template "getTenantUserSecretName" . }}
                key: CONSOLE_ACCESS_KEY
          - name: MINIO_SECRET_KEY
            valueFrom:
              secretKeyRef:
                name: {{ template "getTenantUserSecretName" . }}
                key: CONSOLE_SECRET_KEY
        restartPolicy: Never
    backoffLimit: 4
{{ end }}
{{ end }}
{{ end }}
