{{ if hasKey .Values "minio" }}
{{ if .Values.minio.enabled | default false }}
---
# {{- if .Release.IsInstall }}
# apiVersion: v1
# kind: Secret
# metadata:
#   name: minio-configuration
# type: Opaque
# stringData:
#   config.env: |-
#     export MINIO_ROOT_USER="admin"
#     export MINIO_ROOT_PASSWORD={{- template "generatePassword" }}
# {{ else }}
# apiVersion: v1
# kind: Secret
# metadata:
#   name: minio-configuration
# type: Opaque
# data:
#   config.env: {{ index (lookup "v1" "Secret" .Release.Namespace "minio-configuration").data "config.env" }}
# {{ end }}
# TODO: Hardcoded because of argocd.
apiVersion: v1
kind: Secret
metadata:
  name: minio-configuration
type: Opaque
stringData:
  config.env: |-
    export MINIO_ROOT_USER="admin"
    export MINIO_ROOT_PASSWORD="shopware1234!"
{{ end }}
{{ end }}
