{{- if .Values.crds.install }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: fastlytokens.fastly.shopware.com
spec:
  group: fastly.shopware.com
  names:
    kind: FastlyToken
    listKind: FastlyTokenList
    plural: fastlytokens
    singular: fastlytoken
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.state
          name: State
          type: string
        - jsonPath: .status.message
          name: Message
          type: string
        - jsonPath: .status.lastUsedAt
          name: Last Used
          type: date
      name: v1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              properties:
                secretRef:
                  properties:
                    key:
                      minLength: 1
                      type: string
                    name:
                      minLength: 1
                      type: string
                    namespace:
                      minLength: 1
                      type: string
                  required:
                    - key
                    - name
                    - namespace
                  type: object
                serviceIDs:
                  items:
                    type: string
                  type: array
                tlsAccess:
                  default: false
                  type: boolean
                tokenRole:
                  default: engineer
                  type: string
                tokenScope:
                  default: global
                  type: string
              required:
                - secretRef
                - serviceIDs
              type: object
            status:
              properties:
                firstTokenCharacters:
                  type: string
                lastUsedAt:
                  format: date-time
                  type: string
                message:
                  type: string
                state:
                  type: string
                tokenID:
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
{{- end }}
