{{- if .Values.crds.install }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.2
  name: fastlytlses.fastly.shopware.com
spec:
  group: fastly.shopware.com
  names:
    kind: FastlyTLS
    listKind: FastlyTLSList
    plural: fastlytlses
    singular: fastlytls
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .spec.commonName
          name: CommonName
          type: string
        - jsonPath: .status.state
          name: State
          type: string
        - jsonPath: .status.remoteState
          name: RemoteState
          type: string
        - jsonPath: .status.subscriptionID
          name: SubscriptionID
          type: string
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1
      schema:
        openAPIV3Schema:
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              properties:
                certificateAuthority:
                  default: certainly
                  description: 'CertificateAuthority is the CA to use for the certificate (default: "certainly")'
                  type: string
                commonName:
                  description: CommonName is the primary domain for the TLS certificate
                  type: string
                domains:
                  description: Domains is the list of all domains (including CommonName and SANs) to include in the certificate
                  items:
                    type: string
                  type: array
              required:
                - commonName
              type: object
            status:
              properties:
                errorMessage:
                  description: ErrorMessage contains any error messages
                  type: string
                remoteState:
                  description: RemoteState represents the state of the TLS certificate in Fastly
                  type: string
                state:
                  description: State represents the overall state of the TLS subscription
                  type: string
                subscriptionID:
                  description: SubscriptionID is the Fastly TLS subscription ID
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
{{- end }}
